<html>
<body>

<h1>Új felhasználó hozzáadása</h1>
<br>
<div class="formbox">
  <h1>Regisztráció</h1>
<form class="form"  [formGroup]="userForm" (ngSubmit)="onSubmit()" >
  <mat-form-field >
      Felhasználónév: <input matInput type="text" class="form-control" id="Name"  formControlName="username">
  </mat-form-field>
  <br>
  <mat-form-field >
       Jelszó: <input matInput type="text" class="form-control" id="Password"  formControlName="password">
  </mat-form-field>
 <br>
  <p></p>
  <button mat-raised-button class="btn" type="submit" >
    <span class="shadow"></span>
    <span class="edge"></span>
    <span class="front text"> Regisztráció</span>
  </button>
  <button mat-raised-button  class="btn"  routerLinkActive="active"  routerLink="/login"><span class="shadow"></span>
    <span class="edge"></span>
    <span class="front text"> Vissza</span>
  </button>
</form>
</div>

</body>
</html>
